/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

.grid-container{
  display: grid;
  grid-template-columns: 1fr, 1fr ,1fr;
  grid-auto-rows: minmax(100px, auto);

}


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

.header{ 
  width:  100%;
  height: 1fr;
  display: flex;
  background-color: gray;
  gap: 41% ;
} 
.header__image{
  width: 100px;
  height: 100%;
  padding: 1%; 
}
.header__title{
  width: 100px;
  height: 100%;
  align-self: center;
}
.header__navigation {
  width: 100px;
  height: 100%;
  display: flex;
  float: right;
  align-self: center;
 }
.header__navigation a{
  height: 100%;
  display:  table-cell;
  float: left;
}


/* ### TODO ### Styles for Main Component */

.main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(3, 1fr);


}
.tagging{
  width: 100px;
  grid-column:  1/3;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;  
  padding: 15%;
 
 

 
}
fieldset
{
  background-color:rgb(231, 231, 231);
  max-width:500px;
  padding:16px;	
}
.discovery{
  grid-row: 1/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  grid-template-columns: 2;
  grid-auto-rows: 2;
 


}
.discovery__wrapper{
  display: flex;
}
.discovery_search{
   
  
  }
  

.discovery_taglist{
 
}
.discovery__results li{
  background-color:rgb(231, 231, 231);
  
  max-width:500px;
  padding:16px;
  border: groove;
  border-color: gray;
  margin-bottom:10% ;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  
 
}

.discovery__map{
  margin-bottom:10% ;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
}



/* ### TODO ### Styles for Tagging component */

/* ... your code here ... */


/* ### TODO ### Styles for Discovery component */

/* ... your code here ... */


/* ### TODO ### Styles for Footer Component */

/* ... your code here ... */


/* ### TODO ### Media Queries */

/* ... your code here ... */